@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header  {
    display: flex;
    justify-content: center;
    background-color: #556B2F;
    padding: 20px;
    font-size: 20px;
    gap: 1rem;
    
}

header h1 {
    font-weight: 600;
    font-size: 25px;
    font-family: "Kaushan Script";
}

.icon-sosial {
    color: rgb(255, 255, 255);
    transition: 400ms;
}

.icon-sosial:hover {
    color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    height: 10vh;
    font-size: 15px;
    font-weight: 600;
}


nav img {
    width: auto;
    align-items: center;
}


nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #556B2F;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 20px;
}

article {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px #556b2f91;
    margin-top: 5px;
    margin-bottom: 5px;
}

article p {
    line-height: 1.6;
}

article img {
    border-radius: 20px;
    margin-top: 20px;
    width: 120vh;
    margin-left: 10px;
}

aside {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px  #556b2f91;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

aside img {
    margin-top: 20px;
    margin-right: 2px;
    width: 210px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
    border-top: 2px solid black; 
}

footer p {
    font-weight: 600;
}

/* ---GALERY HTML--- */

.container-galery {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 2rem 10rem;
    margin-bottom: 20px;
}

.container-galery img {
    width: 30vh;
}

.container-galery h3 {
    padding: 0 1rem;
}

.container-galery .img-1 {
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 0px 42px;
    border-radius: 20px;
}

.container-galery .img-1 img {
    border-radius: 20px;

}
.text-galery{
    width: 80vh;
    line-height: 1.5;
    margin-bottom: 10px;
    margin: 12px 200px;
}

.garis-bottom {
    margin-top: 10px;
    border: 1px solid black;
}


.text-galery p {
    font-weight: 500;
}

.text-galery h1 {
    font-size: 50px;
    font-weight: 500;
   
}

/* ABOUT HTML */

.container-about > .about-me {
    width: 29vh;
    margin: 0px 200px;
    line-height: 1.7;
}

.container-about > .about-me h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.container-about > .story-me {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    width: 1000px;
    padding: 20px;
    line-height: 1.7;
    margin: 0px 40vh;
}

.story-me img {
    width: 37vh;
    border-radius: 12px;
}

.story-text h3 {
    font-size: 30px;
}

.story-text p {
    margin-top: 20px;
    line-height: 2;
}

/* CONTACT */

.container-contact {
    background-color: #556b2f5e;
    width: 1000px;
    padding: 20px;
    line-height: 1.7;
    margin: 20px 40vh 59vh;
    border-radius: 20px;
}
.container-contact h3{
    font-size: 30px;
}

.container-contact a {
    text-decoration: none;
    color: black;
    transition: 300ms;
}

.container-contact a:hover {
    color: rgba(255, 255, 255, 0.418);
}

.container-contact .follow {
    margin-top: 10px;
    font-size: 20px;
}




  




